.u-section-1 {background-image: url("images/5fe3d4444a54b108f5d084609629317e113fdce15b4c704f752e7fdc9644c35b_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 804px}
.u-section-1 .u-group-1 {width: 937px; min-height: 529px; margin: 203px auto 45px}
.u-section-1 .u-text-1 {text-transform: uppercase; letter-spacing: 5px; font-size: 4.5rem; font-weight: 700; margin: 20px 472px 0 20px}
.u-section-1 .u-text-2 {text-transform: uppercase; font-size: 12rem; font-weight: 700; margin: 189px 40px -36px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 740px}
.u-section-1 .u-group-1 {width: 863px; min-height: 511px; margin-top: 185px; margin-bottom: 44px}
.u-section-1 .u-text-1 {margin-right: 408px; margin-left: 16px}
.u-section-1 .u-text-2 {margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 661px}
.u-section-1 .u-text-1 {margin-right: 258px; margin-left: 45px}
.u-section-1 .u-text-2 {font-size: 9.125rem; margin-left: 10px; margin-right: 10px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-text-1 {margin-right: 122px; margin-left: 21px}
.u-section-1 .u-text-2 {font-size: 8rem; margin-left: 5px; margin-right: 5px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 512px}
.u-section-1 .u-group-1 {min-height: 330px; margin-top: 150px; margin-bottom: 32px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: 0; margin-right: 36px; margin-left: 6px}
.u-section-1 .u-text-2 {margin-left: 1px; margin-right: 1px; font-size: 4.5rem} }.u-section-2 .u-sheet-1 {min-height: 1143px}
.u-section-2 .u-repeater-1 {min-height: 1143px; grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px); grid-gap: 22px 22px; margin: 0}
.u-section-2 .u-repeater-item-1 {background-size: auto}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-image-1 {height: 351px; margin: 0}
.u-section-2 .u-text-1 {margin: 17px 0 0}
.u-section-2 .u-metadata-1 {font-size: 0.875rem; margin: 15px auto 0}
.u-section-2 .u-btn-1 {margin-left: auto; margin-right: auto; background-image: none; border-style: none}
.u-section-2 .u-repeater-item-2 {background-size: auto}
.u-section-2 .u-container-layout-2 {padding: 20px}
.u-section-2 .u-image-2 {height: 351px; margin: 0}
.u-section-2 .u-text-2 {margin: 17px 0 0}
.u-section-2 .u-metadata-2 {font-size: 0.875rem; margin: 15px auto 0}
.u-section-2 .u-btn-2 {margin-left: auto; margin-right: auto; background-image: none; border-style: none}
.u-section-2 .u-repeater-item-3 {background-size: auto}
.u-section-2 .u-container-layout-3 {padding: 20px}
.u-section-2 .u-image-3 {height: 351px; margin: 0}
.u-section-2 .u-text-3 {margin: 17px 0 0}
.u-section-2 .u-metadata-3 {font-size: 0.875rem; margin: 15px auto 0}
.u-section-2 .u-btn-3 {margin-left: auto; margin-right: auto; background-image: none; border-style: none}
.u-section-2 .u-repeater-item-3 {background-size: auto}
.u-section-2 .u-container-layout-3 {padding: 20px}
.u-section-2 .u-image-3 {height: 351px; margin: 0}
.u-section-2 .u-text-3 {margin: 17px 0 0}
.u-section-2 .u-metadata-3 {font-size: 0.875rem; margin: 15px auto 0}
.u-section-2 .u-btn-3 {margin-left: auto; margin-right: auto; background-image: none; border-style: none}
.u-section-2 .u-repeater-item-3 {background-size: auto}
.u-section-2 .u-container-layout-3 {padding: 20px}
.u-section-2 .u-image-3 {height: 351px; margin: 0}
.u-section-2 .u-text-3 {margin: 17px 0 0}
.u-section-2 .u-metadata-3 {font-size: 0.875rem; margin: 15px auto 0}
.u-section-2 .u-btn-3 {margin-left: auto; margin-right: auto; background-image: none; border-style: none}
.u-section-2 .u-repeater-item-3 {background-size: auto}
.u-section-2 .u-container-layout-3 {padding: 20px}
.u-section-2 .u-image-3 {height: 351px; margin: 0}
.u-section-2 .u-text-3 {margin: 17px 0 0}
.u-section-2 .u-metadata-3 {font-size: 0.875rem; margin: 15px auto 0}
.u-section-2 .u-btn-3 {margin-left: auto; margin-right: auto; background-image: none; border-style: none} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 942px}
.u-section-2 .u-repeater-1 {min-height: 942px; height: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1623px}
.u-section-2 .u-repeater-1 {min-height: 1623px; grid-template-columns: calc(((100% - 720px) / 2) + 349px) calc(((100% - 720px) / 2) + 349px); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-repeater-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 575px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }